body {
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans', sans-serif;
}

.form-group {
  width: 75%;
  padding: 30px;
  margin: auto;
}

/* jumbotron title */
.title {
  font-size: 60px;
}

/* add book page */
.error-text {
  padding-top: 50px;
  text-align: center;
  color: red;
}


